.fa {
	font-size: initial;
}

.social-icons.none .social-icon {
	background: none!important;
}

.social-icons.round .social-icon {
	border-radius: 5px;
}

.social-icons.circle .social-icon {
	border-radius: 100%;
}

.social-icons {
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	max-height: 100%;
	place-content: center;
	align-items: center;

	i {
		margin: auto;
	}
}

.social-icon {
	width: 36px;
	padding: 3px;
	text-align: center;
	color: #fff;
	margin-right: 4px;
	display: flex;
	text-decoration: none;
}

.colored {
	.social-icon-facebook {
		background: #3B5998;
	}
	
	.social-icon-twitter {
		background: #0084b4;
	}
	
	.social-icon-linkedin {
		background: #0077B5;
	}
	
	.social-icon-reddit {
		background: #cee3f8;
	}
	
	.social-icon-tumblr {
		background: #35465c;
	}
	
	.social-icon-pinterest {
		background: #C92228;
	}
	
	.social-icon-vk {
		background: #45668e;
	}
	
	.social-icon-instagram {
		background: #8a3ab9;
	}
	
	.social-icon-google-plus {
		background: #d34836
	}
	
	.social-icon-tripadvisor {
		background: #00af87;
	}
}

