<div class="social-icons"
  [ngClass]="shape"
  [class.colored]="colored">

  <a *ngFor="let link of links"
    target="_blank"
    rel="noopener"
    class="social-icon"
    title="link.type"
    [href]="link.url"
    [ngClass]="linkClass(link.type)">

    <i class="fa" [ngClass]="iconClass(link.type)"></i>

  </a>
</div>
